<mat-form-field appearance="outline" [formGroup]='parentForm' class="w-100">
  <mat-label>Password</mat-label>
  <span matPrefix class="icons">
      <img src="assets/icons/password--v1.png" alt="" >
  </span>
  <input matInput type="password" [type]="hide ? 'password':'text'" formControlName="password"
      style="color: white;">
      <mat-icon matSuffix (click)="hide = !hide" style="cursor: pointer; pointer-events: all;color: white;">
        {{hide ?
          'visibility':'visibility_off'}}
      </mat-icon>

  <mat-error *ngIf="!parentForm.get('password').hasError('strong') && parentForm.get('password').hasError('minlength')">
    Passwords should be a minimum of 8 letters
  </mat-error>
  <mat-error *ngIf="parentForm.get('password').hasError('required')">
    Password is required
</mat-error>

  <mat-error *ngIf="!parentForm.get('password').hasError('required') && parentForm.get('password').hasError('strong')">
    Passsword atleast 1 number, 1 special character, and 1 Capital letter
</mat-error>

</mat-form-field>
