/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mb-24 {
  margin-bottom: 24px;
}

.p-24 {
  padding: 24px;
}
.h2 {
  margin-top: 28px;
}
.w-100 {
  width: 100%;
}
